body {
  background: #FAFAFA;
}

.nav-pills > li.active > a{
  color: #fff;
  background-color: #2E8D88;
}

a, a:hover {
  color: #2E8D88;
}

.nav-pills > li.active > a:hover{
  color: #fff;
  background-color: #2E8D88;
}

.btn-primary {
  background-color: #34B3A0;
  border-color: #34B3A0;
}

.btn-primary:hover {
  background-color: #34B3A0;
  border-color: #34B3A0;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #34B3A0;
  border-color: #34B3A0;
}